
.string {
  display: flex;
  width: 1400px;
  justify-content: center;
  margin: auto;

  .string__note {
    position: relative;
    top: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: auto;
    color: black;
    font-weight: 900;
    line-height: 1.8;

    &.string__note--select {
      cursor: pointer;
      color: rgb(0, 0, 0, 0);
      border: 1px solid rgb(255, 255, 255, 0.2);
    }
    &.string__note--select--selected {
      color: black;
      background-color: white;
      cursor: pointer;
    }
    &.string__note--present {
      border: 1px solid black;
      cursor: pointer;
    }
    &.string__note--outside-range {
      background: gray;
    }
    &.string__note--1P {
      background: red;
    }
    &.string__note--2m {
      background: rgb(251,135,97);
    }
    &.string__note--2M {
      background: rgb(253,172,101);
    }
    &.string__note--3m {
      background: rgb(253,207,96);
    }
    &.string__note--3M {
      background: rgb(255,253,102);
    }
    &.string__note--4P {
      background: rgb(103,218,111);
    }
    &.string__note--5d {
      background: rgb(100,163,173);
    }
    &.string__note--5P {
      background: rgb(97,117,252);
    }
    &.string__note--6m {
      background: rgb(118,104,197);
    }
    &.string__note--6M {
      background: rgb(140,95,162);
    }
    &.string__note--7m {
      background: rgb(189,130,195);
    }
    &.string__note--7M {
      background: rgb(239,175,249);
    }
  }

  .string__fret {
    width: 100%;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    position: relative;

    &:not(:first-child) {
      border-top: 1px solid white;
    }

    .string__nr-indicator {
      border-radius: 50%;
      background: white;
      width: 6px;
      height: 6px;
      position: absolute;
      top: calc(50% - 3px);
      left: calc(50% - 3px);
    }
  }

  &:not(.string--nr-5) {
    .string__fret:not(:first-child) {
      border-left: 1px solid white;

      &:last-child {
        border-right: 1px solid white;
      }
      &:nth-child(2) {
        border-left: 2px solid white;
      }
    }
  }
}
